@import "menu.css";
@import "logo.css";

.header-extra{
}

.body-header-extra p {
  color: white;
  font-family:  Arial, Helvetica, sans-serif;
}

.body-header-extra{
  width: 60%;
  background-color: grey;
  display: block;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.header-main {
    border-bottom: solid 1px;
    display: block;
    height: 80px;
}

.header-main p {
  padding: 1%;
}

.body-width{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
